.homeContainer {
  display: flex;
  height: calc(100vh - 75px); /* if you have a 70px navbar => height: calc(100vh - 70px); */
  color: white;
  text-align: center;
  background: linear-gradient(-180deg, rgba(255, 255, 255, 0.4), rgba(255, 103, 93, 0.4)),
    url('../../assets/bg.jpg');
  background-size: cover;
  background-position: center;
}

.homeTitle {
  width: 400px;
  height: 200px;
  margin: 80px 0 0 80px;
}
