.App {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Montserrat, sans-serif;
  color: #002b32;
}

.appMain {
  display: flex;
}

.appLeft {
  width: 80%;
  height: calc(100vh - 70px);
}

.appRight {
  width: 20%;
}

a {
  color: #002b32;
}

.icon {
  color: #ff675d;
}

.btn-color {
  background-color: #ff675d;
}
